
<header class="page-header">
    <h2>Dashboard</h2>

    <div class="right-wrapper pull-right">
        

       
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="well-lg">
                <button class="btn-lg" >
                    Test
                </button>
            </div>
        </div>
    </div>
</header>


<!-- end: page -->
